:root {
  --color-general-text-1: hsl(163, 72%, 41%);
  --color-general-text-2: hsl(356, 69%, 56%);
  --color-fb: hsl(195, 100%, 50%);
  --color-twt: hsl(203, 89%, 53%);
  --color-ins: linear-gradient(to right,  hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --color-yt: hsl(348, 97%, 39%);
  --color-toggle: linear-gradient(to right,  hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --color-bg:  hsl(230, 17%, 14%);
  --color-bg-top: hsl(232, 19%, 15%);
  --color-bg-card: hsl(228, 28%, 20%);
  --color-bg-card-active:  hsl(228, 28%, 28%);
  --color-text-sub: hsl(228, 34%, 66%);
  --color-text-main: hsl(0, 0%, 100%); }

[data-theme="light"] {
  --color-toggle: hsl(230, 22%, 74%);
  --color-bg:  hsl(0, 0%, 100%);
  --color-bg-top: hsl(225, 100%, 98%);
  --color-bg-card: hsl(227, 47%, 96%);
  --color-bg-card-active: hsl(227, 47%, 94%);
  --color-text-sub: hsl(228, 12%, 44%);
  --color-text-main: hsl(230, 17%, 14%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 40.625%; }
  @media only screen and (min-width: 18.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 85em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  min-height: 100vh;
  display: grid;
  transition: background-color .25s, color .25s;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(4, minmax(min-content, 32rem)) [center-end] minmax(3rem, 1fr) [full-end]; }
  @media only screen and (min-width: 37.5em) {
    body {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, minmax(min-content, 32rem)) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (min-width: 85em) {
    body {
      grid-template-columns: [full-start] minmax(16.5rem, 1fr) [center-start] repeat(4, minmax(min-content, 32rem)) [center-end] minmax(16.5rem, 1fr) [full-end]; } }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4; }

.header {
  font-size: inherit;
  font-weight: 700; }
  .header__heading-main {
    font-size: 2.75rem; }
  .header__heading-sub {
    font-size: inherit; }

.heading {
  font-weight: 700; }

.card {
  font-size: 1.2rem; }
  .card__name {
    font-size: inherit; }
  .card__no-of-followers {
    line-height: 1;
    font-size: 5.5rem; }
  .card__followers {
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .card__today, .card__today--down, .card__today--up {
    font-size: inherit;
    font-weight: 700; }

.overview {
  font-size: 1.2rem; }
  .overview__heading {
    font-size: 2.4rem; }
  .overview__card__heading-1 {
    font-size: 1.4rem; }
  .overview__card__heading-2 {
    font-size: 3.25rem;
    line-height: 1; }

.attribution, .attribution:active, .attribution:link {
  color: var(--color-text-sub); }

.toggle {
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-sub); }
  .toggle > :last-child {
    margin-left: auto; }
  @media only screen and (min-width: 37.5em) {
    .toggle > :last-child {
      margin-left: 1rem; } }
  .toggle input {
    display: none; }
  .toggle__slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 10rem;
    background: var(--color-toggle); }
    .toggle__slider::after {
      content: "";
      display: flex;
      justify-content: center;
      height: 1.8rem;
      max-width: 1.8rem;
      width: 100%;
      border-radius: 50%;
      background-color: var(--color-bg-top);
      margin: .3rem;
      transition: transform .35s ease-in-out; }
  .toggle .toggle-input:checked ~ .toggle__slider::after {
    transform: translateX(2.5rem); }

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg-card);
  border-top: solid .4rem transparent;
  border-radius: 0.4rem;
  background-clip: border-box;
  background-size: 100% .4rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: transform .2s ease,background-color .25s ease, color .25s ease; }
  @media only screen and (min-width: 85em) {
    .card {
      padding: 1rem 0; } }
  .card--fb {
    background-image: linear-gradient(var(--color-fb), var(--color-fb)); }
  .card--twt {
    background-image: linear-gradient(var(--color-twt), var(--color-twt)); }
  .card--ins {
    background-image: var(--color-ins); }
  .card--yt {
    background-image: linear-gradient(var(--color-yt), var(--color-yt)); }
  .card > :not(:last-child) {
    margin-bottom: 2.25rem; }
  .card__name-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__name-block > :not(:last-child) {
      margin-right: 1rem; }
  .card__social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .card__social-icon img {
      height: 100%;
      width: 100%; }
  .card__name {
    color: var(--color-text-sub); }
  .card__followers-block > :not(:last-child) {
    margin-bottom: .5rem; }
  .card__followers {
    color: var(--color-text-sub); }
  .card__today-stat {
    display: flex;
    justify-content: space-between; }
    .card__today-stat > :not(:last-child) {
      margin-right: 0.7rem; }
  .card__today-icon {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card__today--up {
    color: var(--color-general-text-1); }
  .card__today--down {
    color: var(--color-general-text-2); }
  .card:active, .card:hover {
    cursor: pointer;
    background-color: var(--color-bg-card-active);
    transform: translateY(-3px); }

.overview__card {
  background-color: var(--color-bg-card);
  border-radius: .5rem;
  padding: 2.5rem 3rem 2rem 2.5rem;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  transition: transform .2s ease, background-color .25s ease, color .25s ease; }
  .overview__card__icon-block {
    justify-self: end; }
  .overview__card__stat-block {
    align-self: end;
    display: flex;
    align-items: center; }
    .overview__card__stat-block > :not(:last-child) {
      margin-right: .5rem; }
  .overview__card__icon {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .overview__card:active, .overview__card:hover {
    cursor: pointer;
    background-color: var(--color-bg-card-active);
    transform: translateY(-3px); }

.header {
  padding: 3.5rem 0 2.25rem;
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  align-items: baseline; }
  .header > :not(:last-child) {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-bg-card); }
  @media only screen and (min-width: 37.5em) {
    .header {
      display: flex;
      flex-wrap: wrap; }
      .header > :not(:last-child) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none; } }
  .header__heading-text {
    margin-right: auto; }
  .header__heading-sub {
    color: var(--color-text-sub); }
  @media only screen and (min-width: 37.5em) {
    .header__toggle-block {
      display: flex;
      align-items: center; } }

.bg-top-div {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-color: var(--color-bg-top);
  overflow: hidden;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; }
  @media only screen and (min-width: 56.25em) {
    .bg-top-div {
      grid-row: 1 / 3; } }

.card-section {
  z-index: 1;
  grid-row: 2 / 4;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem; }
  @media only screen and (min-width: 56.25em) {
    .card-section {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); } }

.overview {
  padding-bottom: 6rem;
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }
  .overview__heading {
    padding: 4.5rem 0 2.25rem; }
  .overview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-row-gap: 2.75rem;
    grid-column-gap: 3rem; }

.attribution {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  padding: 2rem 0;
  text-align: center; }
