:root{
  // ## Colors
  // ### Primary
  //
  // - Lime Green: hsl(163, 72%, 41%)
  // - Bright Red: hsl(356, 69%, 56%)
  //
  --color-general-text-1: hsl(163, 72%, 41%);
  --color-general-text-2: hsl(356, 69%, 56%);

  // - Facebook: hsl(195, 100%, 50%)
  // - Twitter: hsl(203, 89%, 53%)
  // - Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
  // - YouTube: hsl(348, 97%, 39%)
  //
  --color-fb: hsl(195, 100%, 50%);
  --color-twt: hsl(203, 89%, 53%);
  --color-ins: linear-gradient(to right,  hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --color-yt: hsl(348, 97%, 39%);

  // #### Dark Theme
  //
  // - Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)
  //
  //
  --color-toggle: linear-gradient(to right,  hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  // ### Neutral
  //
  // #### Dark Theme
  //
  // - Very Dark Blue (BG): hsl(230, 17%, 14%)
  // - Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
  // - Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
  // - Desaturated Blue (Text): hsl(228, 34%, 66%)
  // - White (Text): hsl(0, 0%, 100%)
  //
  --color-bg:  hsl(230, 17%, 14%);
  --color-bg-top: hsl(232, 19%, 15%);
  --color-bg-card: hsl(228, 28%, 20%);
  --color-bg-card-active:  hsl(228, 28%, 28%);
  --color-text-sub: hsl(228, 34%, 66%);
  --color-text-main: hsl(0, 0%, 100%);


}
[data-theme="light"]{
  // #### Light Theme
  //
  // - Toggle: hsl(230, 22%, 74%)
  //
    --color-toggle: hsl(230, 22%, 74%);
    // #### Light Theme
    //
    // - White (BG): hsl(0, 0%, 100%)
    // - Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
    // - Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
    // - Dark Grayish Blue (Text): hsl(228, 12%, 44%)
    // - Very Dark Blue (Text): hsl(230, 17%, 14%)
    //
    --color-bg:  hsl(0, 0%, 100%);
    --color-bg-top: hsl(225, 100%, 98%);
    --color-bg-card: hsl(227, 47%, 96%);
    --color-bg-card-active: hsl(227, 47%, 94%);
    --color-text-sub: hsl(228, 12%, 44%);
    --color-text-main: hsl(230, 17%, 14%);
}
