.toggle{
  // font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-sub);

  & >:last-child{
    margin-left: auto;
  }

  @include respond(tab-port){
    & >:last-child{
      margin-left: 1rem;
    }
  };

  input{
    display: none;

    // opacity: 0;
    // width: 0;
    // height: 0;
  }
  &__slider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 10rem;
    background: var(--color-toggle);

    &::after{
      content:"";
      display: flex;
      justify-content: center;
      // align-items: center;
      height: 1.8rem;
      max-width: 1.8rem;
      // height: calc(100% - .6rem);
      // max-width: calc(100% - 3rem);
      width: 100%;
      border-radius: 50%;
      background-color: var(--color-bg-top);
      margin: .3rem;
      transition: transform .35s ease-in-out;
    }
  }

  .toggle-input:checked ~ .toggle__slider::after{
    // margin-left:auto; //sadly this cant be animated because 'auto' cant be animated
    transform: translateX(2.5rem);
  }
}
