*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 40.625%; // 1rem= 6px  6/16= 37.5%;// 1rem= 6.5px  6.5/16= 40.625%;// upto 300px honor 10 lite, nokia 8011g, jio phone

  @include respond(phone){// 300-600px //regular phones
      font-size: 56.25%   //  1rem=8px 8/16= 50%; //1rem=9px 9/16= 56.25%;
  }

  // @include respond(tab-port){ //600-900px also includes 900px-1200px // for all tablets portrait | landscape  mode
  //   font-size: 56.25%  //1rem= 9px 9/16= 56.25%
  // }

  @include respond(small-desktop){// 1200 -1800 //Regular desktops
    font-size: 62.5%;  //1rem=10px 10/16=62.5%;
  }

  @include respond(big-desktop){// 1800 and above
    font-size: 75%;  //1rem=12px 12/16=75%
  }
}

body{
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text-main);

  min-height: 100vh;
  display: grid;

//grid-template-rows: [dashboard-start]min-content[dashboard-end card-start] repeat(8, [row-start] max-content [row-end]) [card-end overview-start]min-content[overview-end attribution-start] min-content [attribution-end] ;

  grid-template-columns: [full-start]minmax(3rem, 1fr) [center-start]repeat(4, minmax(min-content,32rem))[center-end] minmax(3rem, 1fr)[full-end];
  @include respond(tab-port){
    grid-template-columns: [full-start]minmax(6rem, 1fr) [center-start]repeat(4, minmax(min-content,32rem))[center-end] minmax(6rem, 1fr)[full-end];

  }

  // @include respond(tab-land){
  //   grid-template-columns: [full-start]minmax(6.25rem, 1fr) [center-start]repeat(4, minmax(min-content,60rem))[center-end] minmax(6.25rem, 1fr)[full-end];
  //
  // }
  @include respond(small-desktop){
    grid-template-columns: [full-start]minmax(16.5rem, 1fr) [center-start]repeat(4, minmax(min-content,32rem))[center-end] minmax(16.5rem, 1fr)[full-end];
  };
}
